.horizontal {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 1200px;
  margin: 0 auto;

  /* Genişliği ekrana göre ayarlayın */
  width: 100%;
  max-width: 1200px;

  /* Yatay kaydırma için */
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal button {
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.horizontal .divider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: deepskyblue;
  left: var(--left);
  width: var(--width);
  transition: 300ms all;
  border-radius: 3px 3px 0 0;
}
